html
  head 
    title KevDemo
  body
    div(class='Box-body p-6')
    h3 Disponible GET GET/:id POST PUT DELETE para las siguientes rutas (retorna un JSON):
    ul
      li #[b /api/clinicas] 
      li #[b /api/doctores] 
      li #[b /api/pacientes] 